@charset "utf-8";

body{margin: 0;}
h1,h2,h3,h4,h5,h6{margin: 0;}
p{margin: 0;}
form{margin: 0;}
input,select,textarea{color: #666;margin: 0;padding: 0;border: none;outline: none;-webkit-appearance: none;}
a{color: #666;text-decoration: none;}
b{font-weight: normal;}
i{font-style: normal;}
ul,ol{margin: 0;padding: 0;}
li{list-style: none;}
img{border: 0;}
table{border-collapse: collapse;text-align: center;}
td,th{padding: 0;}
.clearfix:after{content: "";display: block;clear: both;height: 0;}
.clearfix{zoom: 1;}
.fl{float: left;}
.fr{float: right;}

html{
    font-size: 12px;color: #666;font-family: 'Microsoft YaHei';
}

/*侧边栏*/
.list{
	background: #000;
	position: fixed;left: -200px;top: 0;bottom: 0;
	transition: left 0.5s;
}
.list.out{
	left: 0;
}
.list_con{
	width: 200px;
}
.list_con .img{
	width: 120px;height: 120px;
	background: #fff;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: 100px auto 20px;
	overflow: hidden;
}
.list_con .img img{
	width: 100%;
}
.list_bt{
	width: 60px;height: 60px;line-height: 60px;
	background: #000;
	border-radius: 50%;
	position: absolute;right: -30px;top: 50%;
	margin-top: -30px;
}
.list_bt:before{
	content: ">";
	font-size: 24px;color: #fff;
	margin-left: 30px;
}
.list_bt.out:before{
	content: "<";
}
.authorName{
	font-size: 18px;color: #fff;
	text-align: center;
	margin-top: 10px;
}
.articleName{
	width: 140px;
	border: 1px solid #666;
	padding: 10px;
	position: absolute;left: 20px;top: 300px;bottom: 20px;z-index: 1;
	overflow-y: auto;
}
.articleName .title{
	font-size: 18px;color: #fff;
	margin-bottom: 10px;
	text-align: center;
}
.articleName li{
	margin-left: 10px;
	position: relative;
}
.articleName li.active:before{
	content: "";
	width: 6px;height: 6px;
	background: #fff;
	border-radius: 50%;
	position: absolute;left: -10px;top: 11px;
}
.articleName li a{
	display: block;
	line-height: 28px;
	font-size: 14px;color: #999;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.articleName li a:hover,.articleName li.active a{
	color: #fff;
}




/*主要内容*/
.main_con_left{
	float: left;
	width: 0;height: 1px;
	transition: width 0.5s;
}
.main_con_left.out{
	width: 200px;
}
.main_con_right{
	overflow: hidden;
}
.main_con_right .header{
	height: 60px;
	font-size: 20px;color: #fff;
	text-align: center;
	background: #000;
	line-height:60px; 
}
.main_con_right .article{
	max-width: 720px;
	padding: 20px;
	margin: 30px auto 0;
}
.main_con_right h1{
	font-size: 32px;color: #333;font-weight: normal;
}
.main_con_right .tips{
	margin-top: 10px;
}
.main_con_right .time{
	font-size: 14px;color: #999;
}
.main_con_right .author{
	font-size: 14px;color: #999;
	margin-left: 20px;
}
.main_con_right .author b{
	color: #ff0000;
	margin-right: 5px;
}
.main_con_right .article_con{
	line-height: 28px;
	font-size: 16px;color: #666;
	margin-top: 30px;
}
.code{
	margin-bottom: 20px;
	background: #fdf6e3;
	padding: 9.5px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	border: 1px solid rgba(0,0,0,0.15);
}
